<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Threecommerce_Base::base"
            title="3commerce"
            module="Threecommerce_Base"
            sortOrder="20"
            resource="Threecommerce_Base::base"
        />
        <add
            id="Threecommerce_Base::OtherPlugins"
            title="I nostri plugin"
            module="Threecommerce_Base"
            sortOrder="100"
            action="threecommerce/other/plugin"
            resource="Threecommerce_Base::base"
            parent="Threecommerce_Base::base"
        />
    </menu>
</config>
